<section class="header-navbar d-flex justify-content-between align-items-center p-1">
    <input class="form-control me-2 w-50 border-0 shadow-none" type="search" placeholder="Search" aria-label="Search">
    <div class="avatar">
        <img width="30px" class="me-2"  src="../../../../assets/images/dark-mode.png" alt="" srcset="">
        <img width="30px"  src="../../../../assets/images/bell-alarm.png" alt="" srcset="">
        <img width="30px" class="ms-3" src="../../../../assets/images/profile.png" alt="" srcset="">
    </div>
</section>

