.body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  // background: #f4f7fa;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
  
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

/* ---- When direction rtl apply those ------*/
.body-trimmed:dir(rtl), .body-md-screen:dir(rtl) {
  width: calc(100% - 16.5625rem) !important;
  margin-right: 16.5625rem !important;
}

.body:dir(rtl){
  width: calc(100% - 5rem);
  margin-right: 5rem;
}
