<section class="w-100 position-relative">
    <!-- ----------- -->
    <!-- login form  -->
    <!-- ----------- -->
    <div class="">
      <form [formGroup]="loginForm" class="form bg-white rounded p-3 mx-2 position-absolute top-50 start-50 translate-middle"
        id="loginForm">
        <div class="container">
        
          <div class="title mt-5">
            <h4 class="text-primary">Welcome Back !</h4>
            <p class="text-muted">Please sign in to continue</p>
           
          </div>
          <!-- -------------------- email --------------------- -->
          <div class="form-group">
            <input [ngClass]="{'is-valid' : isValidControl(loginForm, 'userName'), 'is-invalid' :  isInvalidControl(loginForm, 'userName')}" autocomplete="off" type="text" class="form-control mb-1" placeholder="Email Or Username ...." formControlName="userName" />
            @if (isControlHasError(loginForm, 'userName', 'required')) {
              <small class="text-danger">userName or email is required</small>
            }
          </div>
            <!-------------------- password ------------------- -->
          <div class="form-group mt-3 mb-4">
            <input [ngClass]="{'is-valid' : isValidControl(loginForm, 'password'), 'is-invalid' :  isInvalidControl(loginForm, 'password')}" autocomplete="off" type="password" class="form-control" placeholder="Password..." formControlName="password" />
            @if (isControlHasError(loginForm, 'password', 'required')) {
              <small class="text-danger">password is required</small>
            }
            
          </div>
          <!-- ------------  forget password ------------------ -->

          <div class="forget_pasword mb-4">
  
            <a href="http://" target="_blank" rel="noopener noreferrer">Forget Password?</a>
          </div>
          <div>
            <button type="button" class="submit-btn mb-3 bg-primary " (click)="login()">
              <span>Sign in </span>
              <!-- <span > Waiting... </span> -->
            </button>
          </div>
        </div>
      </form>
  
  
    </div>
  
  <!-- ---------- -->
  <!--bg & overlay-->
  <!-- ---------- -->

    <div class="bg-image">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1440 120" fill="white">
        <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
      </svg>
      <div class="overlay"></div>
    </div>
  

  </section>