
@import '../variables';

.sidenav svg {
    fill: $blue !important;
}
.active {
    color: $blue !important;
    background-color: unset !important;
    .sidenav-link-text {
        color: inherit !important;
        background-color: inherit !important;
    }
}