/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.css";

// apply direction 
html:dir(rtl), body:dir(rtl) {
//     direction:ltr;
    text-align: right;
    th, td {
        text-align: center;
    }
  }


body.dark-mode {
    background-color: #1e1e1e;
    .sidenav{
        background-color: #1e1e1e;
        color: rgba(255, 255, 255, 0.87);
        .sidenav-link-text , .fa-solid, .nav-item{
            color: rgba(255, 255, 255, 0.87);
        }
    
    }
    .header-navbar {
        background-color: #1e1e1e !important;
        input[type='search'] {
        background-color: #1e1e1e !important;
        color: rgba(255, 255, 255, 0.87);
        &::placeholder {
        color: rgba(255, 255, 255, 0.87);

        }

        }
    }
    a.nav-link   {
        transition: none !important;
    }
    .body, .body-trimmed  {
        background-color: #1e1e1e!important;
    }
    
} 

